body {
  background: url("../public/assets/background.jpg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.shopping {
  font-size: 35px;
  font-weight: bold;
}
.card-products {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  height: 400px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  display: flex;
  color: whitesmoke;
  flex-direction: column;
  background: rgba(15, 4, 89, 0.719);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
}
.card:hover {
  background-color: #051424;
  box-shadow: 20px 20px 20px 20px rgba(191, 228, 27, 0.54);
}
.opt:hover {
  background-color: #007bff;
}
.add {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.NoItems {
  position: absolute;
  display: flex;
  justify-content: center;
}
img {
  width: 100%;
}
.InDe {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.text {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 3px;
}
.price-total {
  display: flex;
  height: 30px;
}

.increament {
  border: none;
  border-radius: 50%;
}
footer {
  margin-top: 400px;
  color: whitesmoke;
  background: rgba(15, 4, 89, 0.974);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
}
/* .NavB {
  color: whitesmoke;
  background: rgba(15, 4, 89, 0.974);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  height: 5rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: inherit;
} */
.fixed-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  background: rgba(15, 4, 89, 0.974);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
